<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">


  <servers>
    <server>
      <id>github</id>
      <username>yashaswichandra</username>
      <password>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</password>
    </server>
  </servers>
</settings>
